* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  transition: all 0.5s;
  cursor: url('image/cursor.png'), auto;
  background-color: #000;
  overflow: hidden;
}

#fundo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.conteudo {
  background: transparent;
  backdrop-filter: blur(20px);
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  width: 550px;
  height: 400px;
  padding-top: 40px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
}

#avatar {
  border-radius: 50%;
}

h1 {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
  font-size: 22px;
}

h3 {
  margin-top: 10px;
  font-size: 16px;
}

.badges {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 6px;
}

.badge-icon {
  width: 27px;
  height: 27px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.badge-icon:hover {
  transform: scale(1.1);
}

.views {
  font-weight: 550;
  font-size: 14px;
  margin-top: 25%;
  display: flex;
  align-items: center;
  gap: 0.5em;
  justify-content: center;
}
